{% extends "base.html" %}
{% load markup %}

{% block title %} MVU &ndash; {{ page.title }}{% endblock %}

{% block content %}

<h2>Our Community &mdash; Mount Vernon, Baltimore</h2>
{{ page.content | markdown }}

<div id="community-pages">
    <ul>
        {% for child in children %}
        <li><a href="{% url 'page' 'support' child.slug %}"><img src="http://placehold.it/100x100" alt="{{ child.title }}" /></a></li>
        {% endfor %}
    </ul>
</div>

<div id="slides">
<img src="http://placehold.it/400x500" />
</div>

<div id="community-content">
    <div id="news">
        <h3>In the News</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque sollicitudin elit, id ornare quam tristique vitae. Quisque at quam at dui consectetur aliquet ac in metus.</p>
    </div>

    <div id="community-featured">
        <h3>Featured Business</h3>
        <p>Fusce eget libero leo. Quisque vel libero vel erat porttitor ullamcorper ac id est. Aenean lacinia pharetra orci. Nullam at sapien in enim vestibulum varius ut sit amet nunc. Nunc ut ligula ligula. Integer lacus nisi, lobortis vel tincidunt ac, consectetur ut eros.</p>
    </div>
</div>
{% endblock %}
