{% extends "base.html" %}

{% block title %}MVU &ndash; {{ page.title }}{% endblock %}

{% block content %}
<div class="row">
    {% if page.parent %}
    {% include 'page/other/sidebar.html' %}
    {% endif %}
    <div class="{% if page.parent %}span9{% else %}span12{% endif %} pull-right">
        <h2 class="page-header">{{ page.title }}</h2>
        {% include 'page/other/component.html' %}

        <div id="contact-form">
        <form method="post" class="form-horizontal" action="">
            <legend>Send a Message</legend>
            {% csrf_token %}
            {% include "form.html" %}
            <div class="form-actions">
            <p><input type="submit" value="Send" /></p>
            </div>
    </form>
    </div>
</div>
{% endblock %}
