{% extends "base.html" %}
{% load markup %}

{% block content %}
<div class="row">
    <div class="span9 pull-right">
    <h2 class="page-header">{{ page.title }}</h2>
        {% for component in page.textcomponent_set.all %}
        {{ component.text | markdown }}
        {% endfor %}
    </div>
    <div class="span3" id="sidebar">
        <h3>{{ section.title }} Pages</h3>
        {% for child in section.children.all %}
        {% if forloop.first %}
        <ul>
        {% endif %}
        <li><a href="{% url 'page' section.slug child.slug %}">{{ child.title }}</a></li>
        {% if forloop.last %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
