body { font-family: Cambria, Georgia, serif; }
h1, h2, h3, h4 { font-family: Verdana, Geneva, sans-serif; }

a#logo {
    display: block;
    height: 55px;
    width: 234px;
    background: url(../img/logo.png) no-repeat;
    text-indent:-9000px;
    outline: none;
    margin: 10px 0 -10px 0;
}

a { color: #5291ce; }
a:hover { color: #f16421; }
a:visited { color: #0D4780; }

#main-nav {
    font-family: Verdana, Geneva, sans-serif;
    font-variant: small-caps;
    font-size: 17.5px;
}
#main-nav > li { margin-top: 30px; }
#main-nav a { color: #a2a4a7; }
#main-nav a:hover { color: #000; }

#main-nav .dropdown-menu {
    font-size: 14.5px;
    font-variant: normal;
}

#footer {
    background-color: #f16421;
    border-top: 2px solid #9d3a0b;
    font-size: .8em;
}
#footer p { text-align: center; }
#footer ul {
    margin: 0 auto;
    width: 200px;
}
#footer ul li {
    display: inline-block;
}

.image-left { float: left; }
.image-right { float: right; }
.image-center { float: left; }


/****************
 * Home Page
 * */

table.ui-datepicker-calendar tbody td.highlight > a {
    background: #FFEB80;
    color: #363636;
    border: 1px solid #FFDE2E;
}

.focus {
    color: #5291ce;
}

/*************
 * Community
 * */

#community-pages {
    margin: 0 auto;
    width: 800px;
}
#community-pages ul li {
    display: inline-block;
    margin: 10px;
}

#community-content {
    float: right;
    width: 500px;
}
