body { font-family: Cambria, Georgia, serif; }
h1, h2, h3, h4 { font-family: Verdana, Geneva, sans-serif; }

a#logo {
    display: block;
    height: 55px;
    width: 234px;
    background: url(../img/logo.png) no-repeat;
    text-indent:-9000px;
    outline: none;
}

a { color: #5291ce; }
a:hover { color: #f16421; }
a:visited { color: #0D4780; }


.nav {
    font-family: Verdana, Geneva, sans-serif;
    font-variant: small-caps;
    font-size: 30px;
    margin: 10px;
}
.nav a {
    color: #a2a4a7;
    text-decoration: none;
}
.nav a:hover { color: #000; }

#footer {
    background-color: #f16421;
    border-top: 2px solid #9d3a0b;
    font-size: .8em;
}
#footer p { text-align: center; }
#footer ul {
    margin: 0 auto;
    width: 200px;
}
#footer ul li {
    display: inline-block;
}


/****************
 * Page specific styles
 * */

.focus {
    color: #5291ce;
}

/*************
 * Community
 * */

#community-pages {
    margin: 0 auto;
    width: 800px;
}
#community-pages ul li {
    display: inline-block;
    margin: 10px;
}

#community-content {
    float: right;
    width: 500px;
}

/*********
 * Members
 * */
