{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>Login</h2>
        <form method="post" class="form-horizontal" action="">
            <legend>Login to an existing account</legend>
            {% csrf_token %}
            {% for field in form %}
            <div class="control-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="form-actions">
                <p><button type="submit" class="btn bnt-primary">Login</button>
                <a href="{% url 'join' %}" class="btn">Join</a>
                </p>
        </div>
        </form>
    </div>
</div>
{% endblock %}
