{% load cache static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{% block title %}Mount Vernon Urbanites{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Mount Vernon Urbanites">
    <meta name="author" content="Corey Maynard">

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/mvbootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
    </head>

<body>

<div id="wrap">
    <div class="navbar navbar-inverse hidden-phone">
        <div id="social" class="navbar-inner">
            <form method="get" action="{% url 'search' %}" class="navbar-search pull-right">
                <input type="text" name="q" class="search-query" placeholder="Search">
            </form>
            <ul class="nav pull-right">
                <li><a href="http://www.meetup.com/20s-30sMountVernonUrbanites/"><img src="{% static "img/meetup.png" %}" title="Meetup" alt="Meetup" /></a></li>
                <li><a href="https://www.facebook.com/groups/219892651457030/"><img src="{% static "img/facebook.png" %}" title="Facebook" alt="Facebook" /></a></li>
                <li><a href="http://twitter.com"><img src="{% static "img/twitter.png" %}" title="Twitter" alt="Twitter" /></a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'account' %}">Account</a></li>
                {% if request.user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'join' %}">Join</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="main" class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Mount Vernon Urbanites" class="brand" href="{% url 'home' %}">Mount Vernon Urbanites</a>
                <div class="nav-collapse collapse">
                    <ul id="main-nav" class="nav pull-right">
                    {% for section in sections %}
                        {% if section.children.all %}
                            <li class="dropdown">
                            <a href="{% url 'page' section.slug %}" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{ section.title }}</a>
                            <ul class="dropdown-menu">
                            {% for child in section.children.all %}
                            <li><a href="{% url 'page' child.slug %}">{{ child.title }}</a></li>
                            {% endfor %}
                            </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'page' section.slug %}">{{ section.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    {% if messages %}
        <div class="span5 center" id="messages">
            <h2>Messages</h2>
            <ul>
                {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% block content %}
    <p>The actual page content belongs here</p>
    {% endblock content %}
    </div>

    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <ul>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Join</a></li>
            <li><a href="">Donate</a></li>
        </ul>
        <p>&copy; 2013 Mount Vernon Urbanites</p>
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-hover-dropdown.min.js"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
