{% load cache %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>{% block title %}Mount Vernon Urbanites{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Mount Vernon Urbanites">
    <meta name="author" content="Corey Maynard">

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/mvbootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
    </head>

<body>

<div id="wrap">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" class="brand" href="{% url 'home' %}">Mount Vernon Urbanites</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    {% for section in sections %}
                        {% if section.children.all %}
                            <li class="dropdown">
                            <a href="{% url 'section' section.slug %}" class="dropdown-toggle" data-toggle="dropdown">{{ section.title }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            {% for child in section.children.all %}
                            <li><a href="{% url 'page' section.slug child.slug %}">{{ child.title }}</a></li>
                            {% endfor %}
                            </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'section' section.slug %}">{{ section.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    {% block content %}
    <p>The actual page content belongs here</p>
    {% endblock content %}
    </div>

    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <ul>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
        </ul>
        <p>&copy; 2013 Mount Vernon Urbanites</p>
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
