{% extends "base.html" %}

{% block title %}Mount Vernon Urbanites{% endblock %}

{% block content %}
<div id="slides">
    <img src="http://placehold.it/960x415" alt="The Mount Vernon Urbanites" />
</div>
<h2 id="tagline">Connecting Neighbors to <span id="focus">Explore</span> Mount Vernon</h2>

<div id="blocks">
    <div id="upcoming">
        <h3>Upcomming Events</h3>
        <ol>
            <li>Event Name</li>
            <li>Event Name</li>
            <li>Event Name</li>
            <li>Event Name</li>
            <li>Event Name</li>
        </ol>
    </div>

    <div id="spotlight">
        <h3>Spotlight on Kumari</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt elit nec nisl tempor ac venenatis erat auctor. Proin hendrerit, ligula ut adipiscing commodo, mauris mi convallis est, eu venenatis velit leo et ipsum. In eu quam at risus facilisis pretium. Praesent quis enim ac neque interdum scelerisque quis eu neque</p>
    </div>

    <div id="login">
        <h3>Login to MVU</h3>
    </div>
</div>
{% endblock %}
